page-geste-secours {
.flecheClass:before{
    content: "\002794";

    }

.flecheClass{
    font-size: 20px;
    color: #757979;
    font-weight: bold;
}
#bandeButom{
    padding: 0px;
    margin: 0px;
    border: none;
    width: 100%;
    height: 50px;
    background-color:#E53C3C; 
    bottom: 0px;
    position: absolute;
}
.titreClass{
    padding-left: 30px;
    font-size: 17px;
    color: #CA0014;
}
}
